 <div class="header" data-spy="affix" data-offset-top="205">
                    <div class="heading">
                    <a href="/">AuctionIt</a>
                    </div>
                    <div class="left-icons">
                        <div class="SignIn-btn">
                        <a href="/register">SignIn</a> 
                        </div>
                        <div class="cart-btn">
                        <a class="fa fa-shopping-cart" href=#>Cart</a>
                        </div>
                    </div>
                    <div class="nav-bar">
                        <nav class="nav">
                        <a class="nav-btn" href="/login">LogIn</a>
                        <a class="nav-btn" href=#>How To Play</a>
                        <a class="nav-btn" href=#>Announcements</a>  
                        </nav>
                    </div>
                </div>