<!DOCTYPE html>
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/hyundai.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>
        Hyundai
        </title>
</head>
<body>
    <div class="hyundai">
        <div class="header" data-spy="affix" data-offset-top="205">
            <div class="heading">
            <a href=homePage.html>AuctionIt</a>
            </div>
            <div class="left-icons">
                <div class="SignIn-btn">
                <a href="register.html">SignIn</a> 
                </div>
                <div class="cart-btn">
                <a class="fa fa-shopping-cart" href=#>Cart</a>
                </div>
            </div>
            <div class="nav-bar">
                <nav class=nav>
                <a class="nav-btn" href="login.html">LogIn</a>
                <a class="nav-btn" href=#>How To Play</a>
                <a class="nav-btn" href=#>Announcements</a>  
                </nav>
            </div>
            <div>
        </div>
    </div>
    <div class="container">
        <div class="boundary">
            <h1 class="head-of">Hyundai Verna</h1>
            <div class="bidding-details">
                <h2 class="bidder">Maximum Bidder:</h2>
                <h2 id="bid-name">Sudhanshu</h2>
                <h2>Maximum Bid:</h2>
                <h2 id="bid-value">1000000</h2>
            </div>
                <div class="bidding-box">
                    <a class="head" href=#>Place Single Bid here</a>
                    <div>
                            <input class="input-box" type="number" placeholder="00:00" id="price" name="price"><br><br>
                            <input class="input-box" type="text" placeholder="Enter Name" id="name" name="name"><br><br>
                            <button onclick="changes()" class="bid-button">Place Bid</button>
                    </div>
                </div> 
            </div>
                <div class="product-images">
                    <br><br>
                    <img src="img/Car.PNG">
                    <br><br>
                    <img src="img/CarInside.PNG">
                </div>
    </div>
    <div class="footer">
        <div class="align">
            <div class="call">
                <a class="fa fa-phone" href="tel:123-456-7890">123-456-7890</a>
                |
            </div>
            <div class="mail">
                <a class="fa fa-envelope" href=#></a>
                |
            </div>
            <div class="socials">
                <nav>
                    <form action=# class="facebook">
                        <input type="image" class="facebook" src="img/facebook.png" >
                    </form>
                    <form action=# class="twitter">
                        <input type="image" class="facebook" src="img/twitter.png" >
                    </form>
                    <form action=# class="pinterest">
                        <input type="image" class="facebook" src="img/pinterest.png" >
                    </form>
                    <form action=# class="instagram">
                        <input type="image" class="facebook" src="img/instagram.png" >
                    </form>
                </nav>
            </div>
        </div>
    </div>
    <div class=additional>
        Auctions on<br> KTM DUKE 200|Ford Eco Sport |yamaha-Fascino|Maruti Suzuki Baleno|KTM RC 200 |5 star holiday for a couple to DUBAI|KTM DUKE 200|Yamaha YZF R15|Renault KWID |X-BOX ONE with 40' HD TV - COMBO OFFER |Royal Enfield Bullet 350|5 star holiday for a couple to DUBAI|Apple Mac Book Air -13-inch i5/4GB/128GB |KTM DUKE 200!!|Mahindra THAR |Honda Dvidson Street 750|Vu 55 Full HD Smart LED TV (55UH8475)| Sony PlayStation 4, 500 GB Console |Apple TV (4TH Generation)|Apple Mac Book Air -13-inch i5/4GB/128GB |Royal Enfield Himalayan|Apple Mac Book Air -13-inch 
    </div>
    <script src="js/homePage.js"></script>
</body>
</html>